
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}





nav ul a{
    text-decoration: none;
}
nav li:hover{
    background-color: aqua;
}
nav li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

td{
    border: 1px solid black;
    /* margin: 10px; */
    padding: 10px 50px;
}
th{
    border: 1px solid black;
  padding: 10px 50px;


}

table{
    border-collapse: collapse;
    
}



/* flex item styles start here */

.num{
    display: flex;
     gap: 20px;
     justify-content:space-betwee  n;
}

.num div{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    padding: 20px;
    font-size: 2em ;
   
}


.a{
border: 1px solid black;
/* width: 90px; */
/* padding: 10px; */
background-color: rgb(136, 188, 30);
display: flex;
justify-content: center;
height: 300px;
align-items: center;

}

.b{
border: 1px solid black;
width: 90px;
height: 50px;
padding: 10px;
background-color: aqua;
}






/* card creation starts here */



.card{
    width: 300px;
}











